
/* === General background stuff === */

#topBar {
	-fx-background-color: #f2f2f2;
}

#bg {
	-fx-background-color: #d6d6d6;
}

#alpha {
	-fx-background-color: transparent;
}

/* === Miscellaneous  === */

#search1 {
	-fx-background-radius: 3px;
}

/* === Scroll Bar  === */

.scroll-pane#alpha > .viewport {
	-fx-background-color: transparent;
}

.scroll-bar {
	-fx-background-color: transparent;
	-fx-pref-width: 13px;
	-fx-border-color: none;
}

.track {
     -fx-background-color: transparent;
	 -fx-background-radius: 0em;
	
}

.thumb {
    -fx-background-color: #969696;
    -fx-opacity: 0.5;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
 }
 
 .thumb:hover {
    -fx-background-color: #999999;
    -fx-opacity: 0.75;
 }
 
 .thumb:pressed { 
    -fx-background-color: #aaaaaa;
    -fx-opacity: 0.75;
    }
 
 .increment-arrow, .decrement-arrow,  .increment-button, .decrement-button {
 	-fx-pref-height: 0;
	visibility: false;
}

 .increment-button:hover, .decrement-button:hover,  .increment-button:pressed, .decrement-button:pressed {
	visibility: false;
}