/* Adds custom font */
@font-face {
	font-family: Alcubierre;
	src: url("resources/Alcubierre.otf");
}

/* Set default font */

.text {
	-fx-font-family: "Alcubierre";
}

/* Button styling */

.button {
	-fx-font-size: 15px;
	-fx-padding: 3px;
}

/* Text styling */

#h1 {
	-fx-font-size: 63px;
	-fx-font-family: "ONE DAY";
}

#h3 {
	-fx-font-size: 18px;
	-fx-font-family: "Alcubierre";
}

#h4 {
	-fx-font-size: 16px;
	-fx-font-family: "Alcubierre";
}

.label {
	-fx-font-size: 15px;
	-fx-font-family: "Alcubierre";	
}

/* TextField */

#inpField {
	-fx-border-radius: 0;
}